/proto/ @valitydev/erlang @valitydev/java @valitydev/frontend
/rebar.* @valitydev/erlang
/src/ @valitydev/erlang
/pom.xml @valitydev/java
/package-lock.json @valitydev/frontend
/package.json @valitydev/frontend
